.box {
  width: 350px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #fff;
  border: none;
  border-radius: 25px;
  text-align: center;
}
h1{
  color: orangered;
  font-weight: 500;
  letter-spacing: 1px;
}
/************** 
 Input Fields
***************/
#username, #pass{
  border: 2px solid black;
  background: none;
  display: block;
  margin: 20px auto;
  padding: 15px 45px;
  width: 200px;
  outline: none;
  color: black;
  border-radius: px;
  text-align: center;
  transition: 250ms width ease, 250ms border-color ease;
}
/************** 
   On Hover
***************/
#username:hover, #pass:hover{
  width: 220px;
}
/************** 
   On Focus
***************/
#username:focus, #pass:focus{
  width: 250px;
  border-color: #6fb98f;
}
/************** 
 Submit Button
***************/
.submit{
  border: 2px solid;
  background: orangered;
  display: block;
  margin: 20px auto;
  text-align: center;
  padding: 15px 80px;
  outline: none;
  color: white;
  border-radius: px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 200;
  transition: 250ms background ease;
  -webkit-transition: 250ms background ease;
  -moz-transition: 250ms background ease;
  -o-transition: 250ms background ease;
}
/************** 
   On Hover
***************/
#submit:hover{
  background: #333;
}
